@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* Common CSS Start */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poetsen One", "Jua", sans-serif;
    font-size: 10px;
}
html, body{margin: 0; padding: 0;}
header, section, article, nav, footer{margin: 0; padding: 0; display: block;}
h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    margin: 0;
    padding: 0;
    font-family: "Courgette", cursive;
}
p, i{margin: 0; padding: 0;}
ul, ol{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}

.link{
    opacity: 0.5;
    transition: opacity 0.3s;
}
.link:hover{
    opacity: 1;
}

.sectionTitle{
    margin-bottom: 6rem;
    font-size: 5rem;
    text-align: center;
}

body.modal-open {overflow: hidden;}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-thumb {
    height: 30%;
    background: rgb(0,0,80);
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background: #777;
}

.text-gradient {
    padding: 10px 5px 10px 10px;
    margin: 0;
    line-height: 1;
    -webkit-animation: 5s ease-out infinite textAnim;
    animation: 5s ease-out infinite textAnim;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 250% 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: transparent;
}
@keyframes textAnim{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.fa-compact-disc {
    width: 3.3rem;
    height: 3.3rem;
    background-color: #fff;
    border-radius: 50%;
}
.fa-spin {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Common CSS Start */



/* Top Menu Bar Start */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: background-color 1.5s;
}
header.sticky{
    background-color: rgba(0,0,0,0.7);
}
.topBar{
    width: 76.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.topBar .mainMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topBar .mainMenu li{
    display: flex;
    align-items: center;
}
.topBar .mainMenu li a{
    display: flex;
    align-items: center;
}
.topBar .mainMenu .link{
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    margin: 0 2rem;
}

.topBar .mainMenu .link::after{
    content: '';
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-top: 5px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #fff;
    border-radius: 2px;
}
.topBar .mainMenu .logoLink .logo{
    width: 16.8rem;
    height: 6.8rem;
    background: url(../img/icon/img_logo.png) 50% 50% no-repeat;
    background-size: contain;
}
.topBar .mainMenu .mobileMenu{
    display: none;
}


.f_hamburger{top: 38px; transition: transform 0.3s;}
.f_hamburger.active{transform: rotate(45deg);}
.s_hamburger{top: 46px; transition: transform 0.3s;}
.t_hamburger{top: 54px; transition: transform 0.3s;}
.s_hamburger.active, .t_hamburger.active{transform: rotate(-45deg);}



.mobileSubMenu{background: rgba(0,0,0,0.8); width: 100%; position: fixed; top: 100px; left: 0; display: none;}
.mobileSubMenu li{float: left; width: 50%; line-height: 60px;}
.mobileSubMenu li a{display: block; font-size: 16px; color: #fff; text-align: center;}
/* Top Menu Bar End */


/* Slider Part Start */
.mainVisual{
    width: 100%;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.videoWrap{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.videoWrap .videoContainer{
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
}
.videoWrap .videoContainer .slideVideo{
    flex: 0 0 100%;
    overflow: hidden;
}
.videoWrap .videoContainer .slideVideo video{
    width: 100vw;
    height: 100%;
    object-fit: cover; /* 비디오가 화면에 꽉 차게 설정 */
}
.videoWrap .blueScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,80,0.4);
}

/* Slider Part End */

.titleWrap{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    padding-top: 35vh;
    text-align: center;
    overflow: hidden;
}
.specialHeading,
.specialHeading span{
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 7rem;
    color: #fff;
}
.specialHeading #typedText{
    color: #dd9f01;
}
.cursor{
    font-family: sans-serif !important;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 25%, 75%, 100% {
        opacity: 1;
    }
    26%, 74% {
        opacity: 0;
    }
}


#mainVisual{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* position: absolute; */
    top: 0;
    left: 0;
}

#mainVisual #mainVisualSlideWrap{
    width: 700%;
    height: 100vh;
}

#mainVisual #mainVisualSlideWrap .slideItem{
    width: calc(100% / 7);
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

#mainVisual .headerDarkBg{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
}
/* Slider Part End */



/* Main Visual Part Start */
.mainVisual .moreBtn{
    position: relative;
    width: 30rem;
    height: 6rem;
    margin: 20rem auto 0;
    border: 1px solid #fff;
    cursor: pointer;
}
.mainVisual .moreBtn::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 1px #fff !important;
    animation: pulse 2s infinite ease-in-out !important;
}
@keyframes pulse{
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.mainVisual .moreBtn .moreBtn_bg{
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgba(255,255,255,0.2);
}
.mainVisual .moreBtn .btnText{
    width: 100%;
    font-size: 2rem;
    line-height: 5.8rem;
    color: #fff;
    text-align: center;
}

.mainVisual .prevBtn,
.mainVisual .nextBtn{
    cursor: pointer;
}
.mainVisual .nextBtn .nextBtn_topLine,
.mainVisual .nextBtn .nextBtn_botLine{
    position: absolute;
    top: 50%;
    right: 0;
    width: 8.33%;
    height: 1px;
    background: #fff;
}
.mainVisual .nextBtn .nextBtn_topText{
    transform: translate(0, -100%);
}
.mainVisual .nextBtn .nextBtn_topText,
.mainVisual .nextBtn .nextBtn_botText{
    position: absolute;
    top: 50%;
    right: 8.33%;
    font-size: 20px;
    color: #fff;
}

.mainVisual .prevBtn .prevBtn_topLine,
.mainVisual .prevBtn .prevBtn_botLine{
    width: 8.33%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
}
.mainVisual .prevBtn .prevBtn_topText{
    transform: translate(0, -100%);
}
.mainVisual .prevBtn .prevBtn_topText,
.mainVisual .prevBtn .prevBtn_botText{
    position: absolute;
    top: 50%;
    left: 8.33%;
    font-size: 20px;
    color: #fff;
}
/* Main Visual Part Start */


/* section part Start */
.contentWrap{
    background-image: url(../img/img_contentBackground.jpg);
    background-attachment: fixed;
}
.contentSection{
    width: 76.8rem;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

    /* Portfolio section part Start */
    .tabs {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .tab {
        padding: 1rem 2rem;
        flex: 1 0 auto;;
        border-radius: 5px 5px 0 0;
        background-color: #f9f9f9;
        font-size: 1.6rem;
        text-align: center;
        cursor: pointer;
    }
    .tab.active {
        background-color: #ffd0e0;
    }

    .gallery {
        padding: 3rem 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        border-radius: 5px 5px 0 0;
        background-color: #ffd0e0;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s;
    }
    .card:hover {
        transform: translateY(-8px) !important;
        border-color: transparent;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.2);
    }

    .card .card-image {
        width: 100%;
        height: 25rem;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }
    .card .description {
        padding: 1rem;
        background-color: #f5f5f5;
        font-size: 1.6rem;
    }

    .hidden {
        display: none;
    }
    /* Portfolio section part End */



    /* Contact section part Start */
    #contact{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 12rem;
    }

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile .texting{
        width: 48rem;
    }
    .profile .title {
        margin-bottom: 2rem;
        font-family: "Poetsen One", "Jua", sans-serif;
        font-size: 4rem;
        color: #555;
    }
    .profile .context {
        font-size: 1.6rem;
        line-height: 1.6;
        color: #888;
    }

    .profile .context.name{
        margin-top: 3rem;
    }

    .profile img{
        width: 24rem;
    }
    /* Contact section part End */
/* Section part End */


/* Top Button part Start */
.topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.topBtn i{
    display: block;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
/* Top Button part End */



/* footer Part Start */
#footer .frame{
    width: 76.8rem;
    margin: 0 auto;
    padding: 4rem 1rem 6rem;
    border-top: 1px solid #777;
}

#footer .frame .footerText{
    margin-top: 2rem;
    text-align: center;
}
#footer .frame .footerText h3{
    font-size: 2.4rem;
}
#footer .frame .footerText p{
    padding-top: 10px;
    font-size: 1.4rem;
    color: #777;
}

#toggleButton{
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* footer Part End */



/* Modal Pop Up Part Start*/
.imgPopUpWindow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0,0.7);
}
.imgPopUpWindow.active{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.imgPopUpWindow .modal{
    position: relative;
    width: 56rem;
    height: 85%;
    padding: 2rem 1rem;
    border-radius: 8px;
    background-color: #777;
    text-align: center;
}
.imgPopUpWindow .modal .closeBtn{
    position: absolute;
    top: 0;
    right: -8rem;
    background-color: transparent;
    border: none;
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}
.imgPopUpWindow .modal .imgWrap{
    height: 100%;
    overflow-y: scroll;
}
.imgPopUpWindow .modal .imgWrap #popupImg{
    width: 100%;
}
/* Sub Section Fullscreen PopUp Part End*/



/* Media Query Part Start */

@media (max-width : 767px){
    .topBar{
        width: 100%;
    }
    .topBar .mainMenu .link{
        margin: 0;
    }
    .topBar .mainMenu .logoLink .logo{
        width: 12rem;
    }
    .specialHeading,
    .specialHeading span{
        display: inline-block;
        font-size: 5rem;
    }
    .mainVisual .moreBtn{
        position: absolute;
        bottom: 13rem;
        left: calc(50% - 15rem);
    }
    .contentSection{
        width: 100%;
    }
    .tabs{
        padding: 0;
    }
    .tab{
        padding: 1rem 1rem;
    }
    .gallery{
        border-radius: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .imgPopUpWindow .modal{
        width: 30rem;
    }
    .imgPopUpWindow .modal .closeBtn{
        top: -4rem;
        right: -3rem;
    }
    .imgPopUpWindow .modal .imgWrap img{
        width: 100%;
    }
    .profile img{
        width: 12rem;
    }
    #footer .frame{
        width: 100%;
    }
    #toggleButton{
        bottom: 1rem;
    }
}
/* Media Query Part End */